/* 
teal:#25ced1,
Ivory:#fefef4,
coral:#F8A08C,
orange:#ff7b47,
Flamingo:#ea526f 
*/

body{
    background-color: #fefef4;
}

.placeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.placeCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    width: 250px;
    background-color: white;
}

.detailImg{
    max-width: 220px
}
